- output_type = card.output_type.card.name
.row.publication-body.pt-3.justify-content-center
  .col-md-8
    %section.d-flex.py-3.align-items-center
      - if !card.output_type.nil?
        %span.me-3.badge.badge-purple
          = card.output_type.card.name
      %time.small.text-info
        = date_to_str
    .row.card-menu-hoverspace.position-relative
      %h1.mb-3
        = render_title
      = render_menu
    %hr
    .row.pt-2.pb-2
      - card.field(:partner).card.item_cards.each do |partner|
        .col-sm-6.col-md-4.pt-md-0.pt-sm-0.pt-3.ps-3.ps-md-0.ps-sm-0
          = nest partner, view: :reference
    %hr
    - if !card.image.nil? && card.image != ''
      .row.publication-img.justify-content-center.mb-3
        = field_nest :image, view: :content, size: :original
    = card.description    
.row.justify-content-center.mb-4
  .col-md-8.text-end
    - if !card.uri.nil? and card.uri != ''
      %a.btn.btn-outline-primary.me-3{href: card.uri, target: '_blank', role:'button'}
        %i.material-icons
          = "link"
        = "Visit #{output_type}"
    - if !card.file.nil? and card.file != ''
      %a.btn.btn-outline-primary.me-3{href: card.fetch(:file).attachment, target: '_blank', role:'button', 'alt':'download'}
        %i.material-icons
          = "download"
        = "Download #{output_type}"
