%section#about-us-header
  .bg-deep-blue-transparent.p-5
    .container.p-5
      = render_breadcrumbs
      = section_header :about_heading, url: "/Contact_us", text: "Contact Us"
%section.p-5
  .container
    = nest :intro_blurb, view: :image_right_text_left
%section.p-5
  .container
    = nest :our_purpose, view: :image_left_text_right
%section.p-5.bg-creme
  .container
    = nest :our_team
%section.p-5
  .container
    = nest :our_advisors