- date = Date.parse(card.date)
- filter = date < Time.now ? 'past-event' : ''
.col-md-12.event-summary.rounded-3{class: filter}
  - if not card.image.nil? or card.image != ''
    %a.fluid-image{'href': card.link, 'target':'_blank', 'role':'button'}
      = field_nest :image, view: :core, size: :large
  %time.date-tag.position-absolute.text-center.d-flex.bg-white.text-uppercase{'date-time':card.date}
    %span.d-block.text-white.day.flex-shrink-0.font-weight-bold
      = date.strftime('%d')
    %span.d-block.py-2.px-3
      = date.strftime('%b %Y')
  .row.ps-3.pe-3.mb-2.mt-1
    .col-12
      %span.badge.bg-primary
        = 'event'
      - event_types.each do |type|
        %span.badge.bg-primary
          = type
  .row.ps-3.pe-3
    %a{'href': card.link, 'target':'_blank', 'role':'button'}
      %h5
        = card.name
  .row.ps-3.pe-3
    %address
      %ul.list-unstyled.event-details
        %li
          %i.fas.fa-clock.pe-2
          %small
            = field_nest :start_time, view: :core
            = " - "
            = field_nest :end_time, view: :core
            = field_nest :timezone, view: :core
        %li.pt-2.pb-2
          %i.fas.fa-map-marker-alt.pe-2
          %small
            = field_nest :location, view: :core
  .row.ps-3.pe-3.pb-3
    .col-12.text-center
      %a.btn.btn-outline-primary{'href': card.link, 'target':'_blank', 'role':'button'}
        More Details
