- date = Date.parse(card.date)
.col-md-12
  .row.ps-1.pe-3
    %a{'href': card.link, 'target':'_blank', 'role':'button'}
      %h5
        = card.name
  .row.ps-1.pe-3.pb-2
    %small
      = date.strftime('%b %d, %Y @ ')
      = field_nest :start_time, view: :core
      = " - "
      = field_nest :end_time, view: :core
      = field_nest :timezone, view: :core
