- card_id = card.id.to_s
- slides_to_show = voo.size == 5 ? [5, 3, 1] : [3, 2, 1]
.slider.container-fluid{id: card_id}
  .row
    .col-md-8
      %h2
        = card.name
      - if !card.description.nil? and card.description != ''
        .lead.pt-2
          = field_nest :description, view: :content
    .col-md-4.text-center.pt-md-0.pt-3.d-flex.align-items-center.justify-content-center
      = render_nav_arrows

  .py-1
    .homepage-involved-cards{ data: {
       slick: {  infinite: false,
                 slidesToShow: slides_to_show[0],
                 prevArrow: "#"+card_id+" .wr-prev",
                 nextArrow: "#"+card_id+" .wr-next",
                 responsive: [
                   { breakpoint: "992", settings: { slidesToShow: slides_to_show[1] } },
                   { breakpoint: "768",  settings: { slidesToShow: slides_to_show[2] } }
                 ]}.to_json
      } }
      - card.field(:list).item_cards.each do |item|
        - if item.type == 'Blurb'
          = nest item, view: :action_card
        - else
          = nest item, view: :core