%section#funding-header
  .bg-transparent-gray.p-5
    .container.p-5
      = render_breadcrumbs
      = section_header :funding_heading, header_size: :h1

%section.p-5.bg-creme.mb-5
  .container
    .lead
      = nest :funding_introduction, view: :content
    %small
      = nest :funding_history, view: :content

%section.p-5.pt-0
  .container
    = nest :current_supporters, view: :slider

%section.p-5
  .container
    = nest :previous_supporters, view: :slider

%section.p-5
  = render_donate
