%section#funding-header.container-fluid.bg-creme.pt-5.pb-5
  .container.p-5.py-3
    = render_breadcrumbs
    = section_header :funding_heading

%section.p-5
  .container
    = nest :current_supporters, view: :slider, size: 5

%section.p-5.bg-creme
  .container
    = nest :previous_supporters, view: :slider, size: 5

%section.p-5
  = render_donate
